
body {
	margin: 70px 0 0;
	background: #E1E1DD;
	color: #FFF;
	font: normal 1.4em sans-serif;
}

.wrapper {
	box-sizing: border-box;
	margin: 0 auto;
	/* padding: 25px; */
	width: 80%;
	background: #FFF;
	height: 500px;
	position: absolute;
}

.top {
	background: #FF6347;
	position: relative;
}
.middle {
	background: #87CEEB;
	position: absolute;
	bottom: 0;
	right: 0;
}
.middle p{
	position: absolute;
	top: 60%;

	
	z-index: 1000;
}
.middle::after{
	content: "";
	width: 50px;
	height: 50px;
	background-color: #000;
	position: absolute;
	bottom: 0;
	left: 0;
}

.bottom {
	background: #20B2AA;
	
}

.wrapper div {
	width: 150px;
	height: 150px;
	text-align: center;	
	/* line-height: 150px; */
	text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
	box-sizing: border-box;

	
}

.fixed{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: black;
	height: 60px;
	
}
