
body {
	margin: 70px 0 0;
	background: #E1E1DD;
	color: #FFF;
	font: normal 1.4em sans-serif;
}

.wrapper {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 25px;
	width: 80%;
	background: #FFF;
	position: relative;
	height: 500px;
}

.top {
	background: #FF6347;
	position: relative;
	top:100px ;
	left: 40px;
	z-index: 40;
}

.middle {
	background: #87CEEB;
	position: absolute;
	top: 250px;
	left: 40px;
	z-index: 30;
}

.bottom {
	background: #20B2AA;
	position: absolute;
	left: 40px;
	bottom: 0;
	z-index: 10;
}

.wrapper div {
	width: 150px;
	height: 150px;
	text-align: center;	
	line-height: 150px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
	box-sizing: border-box;

	
}

.fixed{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: black;
	height: 60px;
	
}
